* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #000;
  margin: 0;
  padding: 0;
  
}

.mobile_nav {
  display: none;
}

.lg_nav {
  display: block;
}
.navi {
  background: rgba(255, 255, 255, 0.918) !important;
  backdrop-filter: blur(1rem) opacity(0.8);
  -webkit-backdrop-filter: blur(1rem) opacity(0.8);
  box-shadow: 0 4px 20px rgba(94, 226, 233, 0.548);
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  display: none;
  transition: all 0.2s ease-in-out;
}

.abt:hover,
.srv:hover,
.pjt:hover,
.ctc:hover {
  color: #1f6af0 !important;
}

.drpp li a:hover {
  background-color: #1f6af0 !important;
  color: white;
  transition: 0.3s;
}

#lottie-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1; /* keep it behind content */
    }

    /* Loader Full Screen */
    #loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #090909 !important; /* change to black if you like */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    } 


.bo1 {
  background: radial-gradient(rgb(20, 5, 44), rgb(0, 0, 15));
  
  padding: 2rem;
}

.hell {
  margin-top: 8rem;
}

.let {
  outline: 0.2px solid rgb(255, 145, 0);
  color: rgb(255, 145, 0);
  font-size: 18;
}

.let:hover {
  color: white;
  background: rgb(255, 145, 0);
  transition: 0.3s ease-in-out;
}

.hello {
  color: white;
  outline: 0.2px solid rgb(0, 153, 255);
  text-align: center;
  border-radius: 20px;
  width: 12%;
}

.hello_1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.4rem;
}

.nm {
  color: rgb(0, 153, 255);
}

.port {
  color: white;
  outline: 0.2px solid rgb(0, 153, 255);
  background: rgb(0, 153, 255);
}

.port:hover {
  background: none;
  color: rgb(0, 153, 255);
  transition: 0.3s ease-in-out;
}

.hire {
  color: white;
  outline: 0.2px solid rgb(0, 153, 255);
}

.hire:hover {
  background: rgb(0, 153, 255);
  color: white;
  transition: 0.3s ease-in-out;
}

.but {
  padding: 0.4rem;
}

.one {
  position: relative;
  padding: 5rem;
}

.img {
  position: absolute;
  top: .7rem;
  left: 7%;
  width: 650px;
      height: 650px;
      max-width: 90vw;
      max-height: 80vh;
      display: block;
}

.about {
  margin-top: 6rem;
  gap: 0.3rem;
}

.frm {
  border-radius: 35%;
}

.About .bt {
  color: white;
  outline: 0.2px solid rgb(0, 153, 255);
  text-align: center;
  border-radius: 20px;
  width: 20%;
}

.abimg {
  object-fit: cover;
  border: 0.3px solid #ccc;
  border-radius: 20px;
}

.imat {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.con {
  box-shadow: 0 0 6px #fff;
}

.con h6 {
  color: rgb(0, 153, 255);
}

.mylk a {
  text-decoration: none;
  color: #fdfcfc;
}

.cont {
  color: white;
  outline: 0.2px solid rgb(0, 153, 255);
  background: rgb(0, 153, 255);
}

.cont:hover {
  background: none;
  color: rgb(0, 153, 255);
  transition: 0.3s ease-in-out;
}

.res {
  color: white;
  outline: 0.2px solid rgb(0, 153, 255);
}

.res:hover {
  background: rgb(0, 153, 255);
  color: white;
  transition: 0.3s ease-in-out;
}

.rebut {
  width: 60%;
}

.a_box {
  padding: 3.5rem;
}

.about {
  background: rgba(41, 6, 41, 0.486);
}

#cad:hover {
      transform: translateY(-10px) scale(1.05);
      box-shadow: 0 12px 25px rgba(0,0,0,0.25);
      transition: all 0.3s ease;
      cursor: pointer;
    }

.s {
  color: rgb(0, 153, 255);
}

.sr {
  gap: 1.5rem;
}

.sr .col-md-3 {
  background: rgba(160, 158, 158, 0.116);
  backdrop-filter: blur(2rem) opacity(1);
  -webkit-backdrop-filter: blur(1rem) opacity(0.8);
  box-shadow: 0 4px 20px rgba(94, 226, 233, 0.281);
}

.sr .col-md-3 h3 {
  color: rgb(255, 145, 0);
}

.portfolio-card {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.portfolio-card:hover {
  transform: translateY(-10px) scale(1.05);
      box-shadow: 0 12px 25px rgba(0,0,0,0.25);
      transition: all 0.3s ease;
      cursor: pointer;
}

.portfolio-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.portfolio-info {
  padding: 15px;
  background: white;
}

.modal-img {
  width: 100%;
  border-radius: 10px;
}

.achiv {
  padding-top: 3rem;
  background: rgba(41, 6, 41, 0.486);
  margin-top: 3rem;
}

.cr {
  padding: 0 2rem;
}

.crt {
  color: rgb(0, 153, 255);
}

.ct {
  margin: 2.5rem auto;
}

.crtc a {
  text-decoration: none;
  color: white;
  padding: 0.3rem;
}

.crtc {
  background: rgb(0, 153, 255);
  color: white;
  border: 0.1px solid rgb(0, 153, 255);
}

.crtc a:hover {
  color: rgb(0, 153, 255);
  transition: 0.3s ease-in-out;
}

.crtc:hover {
  background: none;
  transition: 0.3s ease-in-out;
}

.see {
  color: rgb(0, 153, 255);
  outline: 0.2px solid rgb(0, 153, 255);
  background: none;
}

.see:hover {
  background: rgb(0, 153, 255);
  color: white;
  transition: 0.3s ease-in-out;
}

.ex {
  color: white;
  outline: 0.2px solid rgb(0, 153, 255);
  background: rgb(0, 153, 255);
}

.ex:hover {
  color: rgb(0, 153, 255);
  background: none;
  transition: 0.3s ease-in-out;
}

.sd {
  margin: 0;
  padding: 0.2rem !important;
}

.sd .im {
  height: 10rem;
  border-bottom: 3px solid #0cbbf0;
}

.skill {
  margin: 1rem;
}

.set h4 {
  font-size: 1.5rem;
  color: #f0f3f3;
}

.skill span {
  border: 0.2px solid #8d8d8d;
  gap: 1rem;
  display: inline-block;
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  color: #0cbbf0;
}

.iconfg {
  width: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.if {
  width: 50px;
  position: absolute;
  right: 0.6rem;
}

.iconexe {
  width: 80px;
  padding: 0.5rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.iex {
  width: 50px;
  position: absolute;
  right: 0.7rem;
}

.icongd {
  width: 80px;
  padding: 0.5rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.ig {
  width: 50px;
  position: absolute;
  right: 0.8rem;
}

.iconwp {
  width: 80px;
  padding: 0.5rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.wp .iw {
  width: 50px;
  position: relative;
  left: 0.5rem;
}

.iconsql {
  width: 80px;
  padding: 0.5rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.iq {
  width: 50px;
  position: absolute;
  right: 0.7rem;
}

.iconhtml {
  width: 80px;
  padding: 0.5rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.iht {
  width: 50px;
  position: absolute;
  right: 0.7rem;
  top: 0.8rem;
}

.iconcss {
  width: 80px;
  padding: 0.5rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.ics {
  width: 50px;
  position: absolute;
  right: 0.7rem;
  top: 0.8rem;
}

.iconjs {
  width: 80px;
  padding: 0.5rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.ijs {
  width: 50px;
  position: relative;
  left: 0.5rem;
}

.iconjq {
  width: 73px;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.ijq {
  width: 50px;
  position: absolute;
  right: 0.7rem;
  top: 0.5rem;
}

.iconbst {
  width: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding-left: 0;
  margin-left: 0;
}

.ibst {
  width: 50px;
  position: relative;
  right: 0.3rem;
}

.fg,
.jq,
.bst {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  overflow: hidden;
  transition: color 0.3s ease;
  cursor: pointer;
}

.exe,
.gd,
.wp,
.sql,
.html,
.css,
.js {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: color 0.3s ease;
  cursor: pointer;
}

.fg::before {
  content: "95%";
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 0;
  bottom: -95%;
  height: 95%;
  width: 100%;
  background: #0bf145be;
  transition: bottom 0.7s ease-in-out;
  z-index: 1;
}

.fg:hover {
  color: white;
}

.fg:hover::before {
  bottom: 0;
}

.exe::before {
  content: "90%";
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 0;
  bottom: -90%;
  height: 90%;
  width: 100%;
  background: #0bf145be;
  transition: bottom 0.7s ease-in-out;
  z-index: 1;
}

.exe:hover {
  color: white;
}

.exe:hover::before {
  bottom: 0;
}

.gd::before {
  content: "100%";
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 0;
  bottom: -100%;
  height: 100%;
  width: 100%;
  background: #0bf145be;
  transition: bottom 0.7s ease-in-out;
  z-index: 1;
}

.gd:hover {
  color: white;
}

.gd:hover::before {
  bottom: 0;
}

.wp::before {
  content: "70%";
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 0;
  bottom: -70%;
  height: 70%;
  width: 100%;
  background: #0bf145be;
  transition: bottom 0.7s ease-in-out;
  z-index: 1;
}

.wp:hover {
  color: white;
}

.wp:hover::before {
  bottom: 0;
}

.sql::before,
.html::before,
.jq::before,
.bst::before {
  content: "95%";
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 0;
  bottom: -95%;
  height: 95%;
  width: 100%;
  background: #0bf145be;
  transition: bottom 0.7s ease-in-out;
  z-index: 1;
}

.sql:hover,
.html:hover,
.jq:hover,
.bst:hover {
  color: white;
}

.sql:hover::before,
.html:hover::before,
.jq:hover::before,
.bst:hover::before {
  bottom: 0;
}

.css::before,
.js::before {
  content: "85%";
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 0;
  bottom: -85%;
  height: 85%;
  width: 100%;
  background: #0bf145be;
  transition: bottom 0.7s ease-in-out;
  z-index: 1;
}

.css:hover::before,
.js:hover::before {
  bottom: 0;
}

.css:hover,
.js:hover {
  color: white;
}

.msk {
  margin-top: 8rem;
}

.work {
  margin-top: 8rem;
}

.p1 {
  height: 15rem;
}

.ms {
  background-color: #575656;
}

model-viewer {
  width: 100%;
  max-width: 500px;
  height: 500px;
  background: rgba(10, 10, 10, 0.164);
  border-radius: 10px;
}

.ft {
  padding: 2rem;

  gap: 0.3rem;
}

.fp {
  font-size: 0.9rem;
  padding: 1rem;
}

.fh {
  color: white;
}
.qlk {
  margin-left: 0.5rem;
  gap: 0.5rem;
}

.fotlink ul {
  list-style: none;
}

.fotlink a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.fotlink a:hover {
  color: #0cbbf0;
  transition: 0.3s ease-in-out;
}

.contact p {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  color: white;
}

.socil {
  margin-left: 0;
}
.social a {
  color: white;
  font-size: 1.5rem;
}

.social {
  gap: 0.3rem;
  margin-left: 0;
  padding-left: 0;
}

.insta:hover {
  color: rgb(255, 0, 170);
  transition: 0.3s ease-in;
}

.linked:hover {
  color: rgb(0, 132, 255);
  transition: 0.3s ease-in;
}

.fb:hover {
  color: rgb(84, 84, 84);
  transition: 0.3s ease-in;
}

.twit:hover {
  color: rgb(28, 29, 29);
  transition: 0.3s ease-in;
}

.ftrr {
  display: block;
  margin: 0 auto;
}

.imp {
  font-size: 0.9rem;
  display: flex;
  justify-content: end;
}

.imp a {
  text-decoration: none;
  color: white;
}

.imp i {
  margin-right: 0.3rem;
}

.imp i:hover {
  color: #0cbbf0;
  transition: 0.3s ease-in-out;
}

.admi {
  width: 100%;
}

a:focus {
  box-shadow: none !important;
}

.dftext h6 {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.mobfooter {
  display: none;
}

.largefooter {
  display: block;
}

.mbnv {
  font-size: 1.5rem;
}

@media screen and (max-width: 1280px) {
  .About .bt {
    width: 25%;
  }

  .footer .col-5 h4 {
    font-size: 1.3rem;
  }

  .imp {
    font-size: 0.9rem;
    position: relative;
    left: 0%;
  }
  .ftext {
    padding-right: 0;
  }
} 

@media screen and (max-width: 1114px) {
  .lg_nav {
    display: none !important;
  }

  .mobile_nav {
    display: block;
  }

  .let {
    outline: 0.2px solid rgb(255, 145, 0);
    color: rgb(255, 145, 0);
    font-size: 18;
  }

  .let:hover {
    color: white;
    background: rgb(255, 145, 0);
    transition: 0.3s ease-in-out;
  }

  .mobnav ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 5.9rem;
    padding-left: 0;
  }

  .mbnv {
    color: black;
  }

  .mbnv i:hover {
    color: #1f6af0 !important;
  }

  .imp {
    font-size: 1rem;
  }
} 
 @media screen and (max-width: 884px) {
  .hell {
    margin-top: 4rem;
  }

  .lg_nav {
    display: none !important;
  }

  .hello {
    font-size: 18px;
    width: 18%;
  }

  .hello_1 {
    font-size: 1.6rem;
    line-height: 30px;
    flex-wrap: wrap;
  }

  .one {
    padding: 1rem;
  }

  .but {
    width: 130%
  }

  .port {
    font-size: 16px;
  }

  .hire {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img {
    object-fit: cover;
    width: 80%;
    position: absolute;
    left: 15%;
    top: 10rem;
  }

  .abt {
    color: white;
    font-weight: 500;
    margin-left: 2px;
    justify-content: justify;
  }

  .About .bt {
    width: 32%;
  }

  .con h6 {
    font-size: 1.2rem;
  }

  .con p {
    font-size: 16px;
  }

  .rebut {
    width: 82%;
  }

  .cctc{
    width: 200%;
  }

  
  .res {
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .a_box {
    padding: 2.8rem;
  }

  .a_P {
    justify-content: justify;
  }

  .abimg {
    display: block;
  }

  .robo {
    position: relative;
    left: 0.3rem;
  }

  .abimg {
    border: none;
  }

  .sty {
    display: block;
    margin: 5rem auto;
    border: 0.2px solid #ccc;
    padding: 0.3rem;
    border-radius: 20px;
  }

  .ssty {
    display: block;
    margin: 12rem auto;
    border: 0.2px solid #ccc;
    padding: 0.3rem;
    border-radius: 20px;
  }

  .imat {
    width: 90%;
  }

  .ct {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
  }

  .footer .col-5 {
    width: 50%;
  }

  .fotlink {
    margin-right: 0;
  }

  .contact p {
    font-size: 0.9rem;
  }

  .ftext h6 {
    font-size: 0.9rem;
    width: 160%;
  }

  .copy,
  .imp {
    font-size: 16px;
    display: block;
    text-align: center;
  }

  .social {
    gap: 0.3rem;
    margin-left: 0;
  }

  .socil {
    margin-left: 0;
  }

  .cr {
    padding: 0 0.8rem;
  }
} 

@media screen and (max-width: 775px) {
  .lg_nav {
    display: none !important;
  }

  .mobile_nav {
    display: block;
  }

  .let {
    outline: 0.2px solid rgb(255, 145, 0);
    color: rgb(255, 145, 0);
    font-size: 18;
  }

  .let:hover {
    color: white;
    background: rgb(255, 145, 0);
    transition: 0.3s ease-in-out;
  }

  .mobnav ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 5.9rem;
    padding-left: 0;
  }

  .mbnv {
    color: black;
  }

  .mbnv i:hover {
    color: #1f6af0 !important;
  }

  .mobnav ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: space-evenly;
     gap: 5.5rem; 
    padding-left: 0;
  }
  .hello {
    font-size: 17px;
    width: 20%;
  }

  .hello_1 {
    font-size: 1.3rem;
    line-height: 25px;
    flex-wrap: wrap;
  }

  .int {
    gap: 1.5rem;
  }

  .but {
    width: 60%;
  }

  .img {
    object-fit: cover;
    width: 311px;
    position: absolute;
    left: 12%;
    top: 12%;
  }

  .About .bt {
    width: 26%;
  }

  .robo {
    position: relative;
    top: 0.5rem;
    left: 0.1rem;
  }

  .con h6 {
    font-size: 1.5rem;
  }

  .con p {
    font-size: 1.3rem;
  }

  .con {
    width: 100%;
  }

  .sty {
    display: block;
    margin: 0rem auto;
    border: 0.2px solid #ccc;
    padding: 0.3rem;
    border-radius: 20px;
  }

  .rebut {
    width: 64%;
  }

  .abimg {
    border: none;
  }

  .ssty {
    display: block;
    margin: 0rem auto;
    border: 0.2px solid #ccc;
    padding: 0.3rem;
    border-radius: 20px;
  }

  .admi {
    margin-top: 3rem;
  }

  .footer .fotlink,
  .footer .contact {
    width: 100%;
    margin-bottom: 15px;
  }

  .footer .col-5 {
    width: 29%;
  }

  .mobfooter {
    display: block;
  }

  .largefooter {
    display: none;
  }

  .bottomfooter {
    padding-bottom: 3rem;
  }
} 

@media screen and (max-width: 430px) {
  .lg_nav {
    display: none !important;
  }

  .mobile_nav {
    display: block;
  }

  .logo {
    padding-left: 0;
  }

  .lct {
    padding-right: 0;
  }

  .let {
    outline: 0.2px solid rgb(255, 145, 0);
    color: rgb(255, 145, 0);
    font-size: 18;
  }

  .let:hover {
    color: white;
    background: rgb(255, 145, 0);
    transition: 0.3s ease-in-out;
  }

  .mobnav ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 4rem;
    padding-left: 0;
    padding-right: 0;
  }

  .mbnv {
    color: black;
  }

  .mbnv i:hover {
    color: #1f6af0 !important;
  }

  .hell {
    margin-top: 1rem;
  }

  .hello {
    font-size: 15px;
    width: 24%;
  }

  .hello_1 {
    font-size: 1.3rem;
    line-height: 30px;
  }

  .but {
    width: 74%;
  }

  .rebut{
    width: 80%;
  }

  .port {
    font-size: 12px;
  }

  .hire {
    font-size: 12px;
    padding-top: 0.7rem;
  }

  .int {
    gap: 1.5rem;
  }

  .img {
    object-fit: cover;
    width: 450px;
    position: absolute;
    left: 5%;
    top: -19%;
  }

  .robo {
    position: relative;
    top: 0.2rem;
  }

  .imat {
    width: 90%;
  }

  .con h6 {
    font-size: 1.3rem;
  }

  .con p {
    font-size: 1rem;
  }

  .cont {
    font-size: 14px;
  }

  .res {
    font-size: 14px;
  }

  .admi {
    margin-top: 0;
  }

  .About .bt {
    width: 34%;
  }

  .copy,
  .imp {
    font-size: 16px;
    display: block;
    text-align: center;
  }

  .mobfooter {
    display: block;
  }

  .footer .col-5 {
    width: 35%;
  }

  .largefooter {
    display: none;
  }

  .fotlink {
    margin-left: 1rem;
  }

  .ct {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
  }

  .bottomfooter {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 375px) {
  .img {
    object-fit: cover;
    width: 400px;
    position: absolute;
    left: 7%;
    top: -18%;
  }

  .About .bt {
    width: 40%;
  }

  .copy,
  .imp {
    font-size: 14px;
    display: block;
    text-align: center;
  }

  .footer h4 {
    font-size: 18px;
  }
  .footer .fp {
    font-size: 12px;
  }

  .footer .col-5 {
    width: 42%;
  }

  .mobfooter {
    display: block;
  }

  .largefooter {
    display: none;
  }

  .ct {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }

  .bottomfooter {
    padding-bottom: 3rem;
  }

  .con h6{
    font-size: 1.1rem;
  }

  .con p{
    font-size: .9rem;
  }

  .rebut{
    width: 100%;
  }

  .res{
    font-size:16px;
  }
}

@media screen and (max-width: 320px) {
  .lg_nav {
    display: none !important;
  }

  .mobile_nav {
    display: block;
  }

  .logo {
    padding-left: 0;
  }

  .lct {
    padding-right: 0;
  }

  .let {
    outline: 0.2px solid rgb(255, 145, 0);
    color: rgb(255, 145, 0);
    font-size: 18;
  }

  .let:hover {
    color: white;
    background: rgb(255, 145, 0);
    transition: 0.3s ease-in-out;
  }

  .mobnav ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 3.5rem;
    padding-left: 0;
  }

  .mbnv {
    color: black;
  }

  .mbnv i:hover {
    color: #1f6af0 !important;
  }

  .hell {
    margin-top: 1rem;
  }

  .hello {
    font-size: 15px;
    width: 24%;
  }

  .hello_1 {
    font-size: 1.3rem;
    line-height: 30px;
  }

  .but {
    width: 84%;
  }

  .port {
    font-size: 12px;
  }

  .hire {
    font-size: 12px;
    padding-top: 0.7rem;
  }

  .int {
    gap: 1.5rem;
  }

  .img {
    object-fit: cover;
    width: 300px;
    position: absolute;
    left: 2%;
    top: -5%;
  }

  .robo {
    position: relative;
    top: 0.2rem;
  }

  .imat {
    width: 90%;
  }

  .con h6 {
    font-size: 15px;
  }

  .con p {
    font-size: 13px;
  }

  .rebut {
    width: 100%;
  }

  .cont {
    font-size: 12px;
  }

  .res {
    font-size: 12px;
  }

  .About .bt {
    width: 45%;
  }

  .copy,
  .imp {
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .ct {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
  }

  .contact p {
    font-size: 0.7rem;
  }

  .footer h4 {
    font-size: 16px;
  }
  .footer .fp {
    font-size: 13px;
  }

  .footer .col-5 {
    width: 47%;
  }

  .dftext h6 {
    font-size: 0.9rem;
  }

  .mobfooter {
    display: block;
  }

  .largefooter {
    display: none;
  }

  .bottomfooter {
    padding-bottom: 3rem;
  }
}


/* Loader styles */
    #loader {
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100% !important;
      background: #ffffff;   /* Change background color if needed */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999; /* always on top */
    }
    #content {
      display: none; /* Hide content until page load */
    }